/**
 * @file
 * General styles for dropbuttons.
 */

.js .dropbutton-widget {
  background-color: #fff;
  border: 1px solid #E9E8E8;
  border-radius: 5px;
  text-transform: uppercase;
}
.js .dropbutton-multiple.open .dropbutton-widget {
  background-color: #fff;
  border: 1px solid #0d68a6;
}
.js .dropbutton-widget:hover {
  border-color: #e3e2e2;
}
.dropbutton .dropbutton-action > * {
  padding: 0.25em 1em;
  white-space: nowrap;
}
.dropbutton a:hover,
.dropbutton-toggle button:hover {
  background-color: #F7F7F7;
  text-decoration: none;
}
.dropbutton .secondary-action {
  border-top: 1px solid #E9E8E8;
}
.dropbutton-multiple .dropbutton {
  border-right: 1px solid #E9E8E8; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 1px solid #E9E8E8;
  border-right: 0 none;
}
[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-left: 0.25em;
  margin-right: 0;
}
