
/**
 * @file
 * General styles for dropbuttons.
 */

.js .dropbutton-widget {
  background-color: white;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  text-transform: uppercase;
}
.js .dropbutton-widget:hover {
  border-color: #e3e2e2;
}
.dropbutton .dropbutton-action > * {
  padding: 0.25em 1em;
  white-space: nowrap;
}
.dropbutton .secondary-action {
  border-top: 1px solid #e9e9e9;
}
.dropbutton-multiple .dropbutton {
  border-right: 1px solid #e9e9e9; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 1px solid #e9e9e9;
  border-right: 0 none;
}
.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0.25em; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-left: 0.25em;
  margin-right: 0;
}
